<!DOCTYPE html>
<html>
  <head>
    <title>Route Safety Lookup</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <!-- <h1>GOOGLE MAP API</h1> -->
    <hr>
    <div id="map-canvas"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsdj_RYfwK4Zk60nfD6Y4AFBDZnQM9Wys"
    ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      var me = document.currentScript;
    </script>
    <div id="scores" class = "box">
      <div id ='info' class="inner">Danger Index is between 0 and 10
        <br>
        <p style="color:blue">Route 1 = Blue</p>
        <p style="color:green">Route 2 = Green</p>
        <p style="color:black">Route 3 = Black</p>
        <p style="color:red">Route 4 = Red</p>
        <p style="color:orange">Route 5 = Orange</p>
        <p style= "font-style: italic;">Danger Index = (Sum of all accidents and their severities along route in the last two years / Distance of route) x 1000</p>
        <input type="button" value="New Search" onClick="location.href=location.href">
      </div>
    </div>
  </body>
</html>